.container {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    padding: 0 24px;
    height: 50px;
}

.content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 100%;
    max-width: 1128px;
}

.logo {
    margin-right: 20px;
    font-size: 0;
}


.search {
    overflow: 1;
    flex-grow: 1;
    position: relative;
}

.search .search_input {
    max-width: 300px;
}

.search .search_input input {
    border: none;
    box-shadow: none;
    background-color: #eef3f8;
    border-radius: 2px;
    width: 218px;
    color: rgba(0, 0, 0, 0.9);
    padding: 0 8px 0 40px;
    line-height: 1.75px;
    font-weight: 400;
    font-size: 15px;
    height: 34px;
    vertical-align: text-top;
    outline: none;
}

.search .search_input input:focus {
    border: 2px solid #067aee;
}


.search_icon {
    position: absolute;
    width: 40px;
    z-index: 1;
    top: 10px;
    left: 2px;
    border-radius: 0 2px 2px 0;
    margin: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}